@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;700;900&display=swap');

.supply {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-input-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form-input {
    height: fit-content;
    margin: auto;
    width: 600px;
    padding: 10px 10px;
    vertical-align: middle;
    border: 1px solid #c0c0c0;
    border-radius: 20px;
}

.form-input-text {
    margin: 10px 10px;
    height: fit-content;
    weight: fit-content;
    font-family: 'Inter';
    font-weight: 300px;
    font-size: 16px;
    text-align: center;
    padding-top: 10px;
}

.btn-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #003366;
    border: 1px solid #003366;
    border-radius: 30px;
    color: black;
    cursor: pointer;
    float: left;
    margin: 10px 10px;
    width: fit-content;
}

.btn:not(:last-child) {
    border-right: none;
}

.btn:after {
    content: "";
    clear: both;
    display: table;
}

.btn:hover {
    background-color: #191970;
}