<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:font-size="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="${title}"/></title>
    <link type="text/css" href="/static/style/main.css" th:href="@{/style/main.css}" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="title-box">
    <p class="title-text" th:text="${title}"></p>
</div>
<div class="supply">
    <div class="form-input-box">
        <form class="form-input" th:method="POST" th:action="@{/take}" th:object="${deliveryForm}">
            <label for="supplier">Поставщик:</label>
            <select id="supplier" name="supplier" th:field="*{supplier}">
                <option th:each="supplier : ${suppliers}" th:value="${supplier.id}" th:text="${supplier.supplierName}"></option>
            </select>
            <br/>
            <label for="deliveryDate">Дата поставки:</label>
            <input type="date" id="deliveryDate" name="deliveryDate" th:field="*{deliveryDate}" required>
            <br/>
            <h2>Продукты:</h2>
            <div th:each="fruit : ${fruits}">
                <label th:text="${fruit.fruitName}"></label>
                <input type="number" th:field="*{countOfFruits[__${fruit.id}__]}" min="0"/>
            </div>
            </br>
            <div class="btn-group">
                <input class="btn" type="reset" value="Очистить введённое">
                <button class="btn">Принять поставку</button>
            </div>

        </form>
    </div>

    <div class="form-input-box">
        <form class="form-input" th:method="GET" th:action="@{/downloadReport}">
            <h2>Период:</h2>
            <label for="start">С:</label>
            <input type="date" id="start" name="start" required>
            <br/>
            <label for="end">По:</label>
            <input type="date" id="end" name="end" required>
            <br/>
            <div class="btn-group">
                <input class="btn" type="reset" value="Очистить введённое">
                <button class="btn">Скачать отчет</button>
            </div>

        </form>
    </div>

    <div th:switch="${deliveries}">
        <h2 th:case="null">В базе данных нет записей</h2>
        <div th:case="*">
            <table class="table">
                <thead>
                <tr>
                    <th>id</th>
                    <th>Дата приемки</th>
                    <th>Поставщик</th>
                    <th>Сумма</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="delivery : ${deliveries}">
                    <td th:text="${delivery.id}"></td>
                    <td th:text="${delivery.deliveryDate}"></td>
                    <td th:text="${delivery.supplier.getSupplierName()}"></td>
                    <td th:text="${delivery.sumPrice}"></td>
<!--                    <td><div class="btn-group">-->
<!--                        <form th:action="@{/{id}(id=${delivery.getId()})}">-->
<!--                            <button class="btn">Подробнее</button>-->
<!--                        </form>-->
<!--                    </div>-->
<!--                    </td>-->
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>